<!DOCTYPE html>
<html>



    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add font awesome icons to buttons  -->
  
    <button onclick="bk_menu()" class="btn"><i class="fa fa-home"></i> Search</button> 
    <button onclick="search_bk()" class="btn"><i class="fa fa-folder"></i> BACKGROUND</button>
    <button onclick="search_ob()" class="btn"><i class="fa fa-folder"></i> OBJECTIVES</button>
    <button onclick="search_re()" class="btn"><i class="fa fa-folder"></i> RESULTS</button>
    <button onclick="search_me()" class="btn"><i class="fa fa-folder"></i> METHODS</button>
    <button onclick="search_co()" class="btn"><i class="fa fa-folder"></i> CONCLUSIONS</button>
    <button onclick="search_ot()" class="btn"><i class="fa fa-folder"></i> OTHERS</button>







    <body>
        <h1><center><font face="Arial" size="6">Search results</font></center></h1>
        <center><font size="4">based on </font><u><font face ="Arial" size="4"><%= their_choice %></font></u></center>
        
        <hr>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=0" target="_blank"><%= title1 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=1" target="_blank"><%= title2 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=2" target="_blank"><%= title3 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=3" target="_blank"><%= title4 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=4" target="_blank"><%= title5 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=5" target="_blank"><%= title6 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=6" target="_blank"><%= title7 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=7" target="_blank"><%= title8 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=8" target="_blank"><%= title9 %></a></font></a></center></p>
        <p><center><font face="Helvetica" size="4"><a href="http://localhost:3000/answer/article?tab=9" target="_blank"><%= title10 %></a></font></a></center></p>
        
        
        
        


        
    </body>
    
    
</html>
<script>
    function bk_menu(){
    
        window.location.href = "http://localhost:3000/search";
    }
    function search_bk(){

        window.location.href= "http://localhost:3000/answer?tab=0"
    }
    function search_ob(){

        window.location.href= "http://localhost:3000/answer?tab=1"
    }
    function search_re(){

        window.location.href= "http://localhost:3000/answer?tab=2"
    }
    function search_me(){

        window.location.href= "http://localhost:3000/answer?tab=3"
    }
    function search_co(){

        window.location.href= "http://localhost:3000/answer?tab=4"
    }
    function search_ot(){

        window.location.href= "http://localhost:3000/answer?tab=5"
    }
    
</script>